* {
   background-color: bisque;
   font-family:sans-serif, 'Courier New', Courier, monospace;
   box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin:30px auto;
    border:10px double blanchedalmond;
    padding: 20px;
    background-color:burlywood;
    width: 800px;
}

.navbar {
    display: flex;
    list-style: none;
    border: 10px double blanchedalmond;
    background-color:burlywood;
    margin: 30px auto;
    width: 1500px;
    padding: 0;
}

.links {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    background-color: burlywood;
    border:1px solid black;
    width:500px;
    padding:5px;
    margin: auto 1px;
}

a {
    background-color: burlywood;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#ffffff; 
    text-decoration:none; 
    cursor:pointer;  
}

img {
    border:5px solid black;
    display: block;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    height: 300px;
    width: auto;
    float: right;
}

p {
    font-size: 20px;
}

H2 {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}

H3 {
    display: inline-block;
    text-align: center;
    width: 50vw;
}

.wrapper {
    display: flex;
}
